<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firebase_conexion">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase_Conexion"
        android:usesCleartextTraffic="true">
        <activity android:name=".juego.JuegoOferta"></activity>
        <activity android:name=".admin.AddActivity4" />
        <activity android:name=".admin.AddActivity3" />
        <activity android:name=".admin.AddActivity2" />
        <activity android:name=".admin.AddActivity" />
        <activity android:name=".admin.Cuestionario_4_Admin" />
        <activity android:name=".admin.Cuestionario_3_Admin" />
        <activity android:name=".admin.Cuestionario_2_Admin" />
        <activity android:name=".admin.Cuestionario_1_Admin" />
        <activity android:name=".admin.LoginAdmin" />
        <activity android:name=".admin.VentanaAdmin" />
        <activity android:name=".login_menu.RecuperarPass" />
        <activity android:name=".cuestionario.Cuestionario_Resultado4" />
        <activity android:name=".cuestionario.Cuestionario_Resultado3" />
        <activity android:name=".cuestionario.Cuestionario2" />
        <activity android:name=".cuestionario.Cuestionario_Resultado" />
        <activity android:name=".juego.Juego" />
        <activity android:name=".cuestionario.Cuestionario" />
        <activity android:name=".login_menu.PantallaCarga">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.MainActivityCloudStore" />
        <activity android:name=".login_menu.MainActivity2" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".noticias.FeedPost"
            tools:ignore="Instantiatable" />
        <activity android:name=".noticias.MainActivity3" />
        <activity android:name=".login_menu.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>